@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.userDetails {
  border: 3px solid black;
  box-sizing: border-box;
  float:left;
}

.posts {
  display: block;
  float: right;
  padding:0px;
}

.post {
  border: 3px solid black;
  list-style-type: none;
  padding:10px;
  margin: 3px;
}

.post .body {
  padding-left: 30px;
}

.comments {
  border-top: 3px solid black;
}
.comment {
  list-style-type: none;
}

.comment .body {
  padding-left:20px;
  color: darkgrey;
}
.icon {
  height: 5%;
  width:5%;
}

.userInfo {
  display: flex;
  justify-content: right;
  align-items: center;
}
