<div class='container'>
  <h2>Welcome to Dunder-Mifflin's internal network.</h2>
  Please enter a username to view your posts and comments
  <div class="input">    
    <i *ngIf ="isValidEmail" class='invalid'>Invalid Email</i>
    <br>
    <input [(ngModel)]= "email" (ngModelChange)='checkValid()' type="email" placeholder="email address" class='inputField'>
    <br>
    <button class='button' (click)='login()'>Login</button>
  </div>
  <failedLoginAlert *ngIf = 'displayAlert.displayAlert'></failedLoginAlert>
</div>