<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="../assets/images/dunderMifflinLogo.png">
</div> -->
<div class='container'>
  <h2>Welcome to Dunder-Mifflin's internal network.</h2>
  Please enter a username to view your posts and comments
  <div class="input">    
    <i *ngIf ="isValidEmail" class='invalid'>Invalid Email</i>
    <br>
    <input [(ngModel)]= "email" (ngModelChange)='checkValid()' type="email" placeholder="email address" class='inputField'>
    <br>
    <button class='button' (click)='login()'>Login</button>
  </div>
</div>