<div>
  <div class='container col-12 col-sm-12 col-md-4 userDetails'>
    <h2>Profile Detail</h2>
    <div class='hr'>
      <hr />
    </div>
    <h3>{{ user.name }}</h3>
    <div class='row'>
      <img class='col-3 icon' src="../assets/images/pin.png">
      <h4 class='userInfo col-8'>{{ user.address.street }}, {{ user.address.suite }}, {{ user.address.city }}, {{ user.address.zipcode }}</h4>
    </div>
    <div class='row'>
      <img class='col-3 icon' src="../assets/images/phone.png">
      <h4 class='userInfo col-8'>{{ user.phone }}</h4>
    </div>
    <div class='row'>
      <img class='col-3 icon' src="../assets/images/email.png">
      <h4 class='userInfo col-8'> {{ user.email }}</h4>
    </div>
  </div>
  <div class='container col-12 col-sm-12 col-md-8 posts'>
    <ul>
      <li *ngFor= "let post of posts" class='post'>
        <div>
          <h3> {{ post.title }}</h3>
          <p class='body'> {{ post.body }} </p>
        </div>
        <div class='comments'>
          <b>Comments</b>
          <ul>
            <ng-container *ngFor ='let comment of comments'>
            <li *ngIf = 'comment.postId === post.id' class='comment'>
                <h4> {{ comment.name }}</h4>
                <p class='body'> {{ comment.body }} </p>
                <hr />
            </li>
            </ng-container>
          </ul>
        </div>
      </li>
    </ul>  
    </div>
    <img class='col' src="../assets/images/michael.jpg">
</div>
